**/*fp-info-cache
**/*production
**/*bom
**/*-backups/**
**/*.SLDASM
**/*.SLDPRT

*.kicad_prl




# dot files
**/.vscode
**/.settings
**/.eide

# project out
**/build
**/bin
**/obj
**/out

# eide template
*.ept
*.eide-template


**/Core/**
**/Drivers/**
.clang-format
.mxproject
Makefile
startup_stm32g031xx.s
software/STM32G031G8Ux_FLASH.ld
software/usbMeter.code-workspace
software/.gitignore
